// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024 Linaro Ltd.
 */

/delete-node/ &xbl_mem;

/ {
	/* When running as the primary bootloader there is no prior
	 * stage to populate the memory layout for us. We *should*
	 * have two nodes here, but ABL does NOT like that.
	 * sooo we're stuck with this.
	 */
	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x3A800000>,
		      <0 0xC0000000 0 0x01800000>,
		      <0 0xC3400000 0 0x3CC00000>,
		      <1 0x00000000 1 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* XBL (eXtensible Boot Loader) region */
		xbl_mem: xbl@80700000 {
			reg = <0 0x80700000 0 0x100000>;
			no-map;
		};
	};

	// RAM Entry 0 : Base 0x0080000000  Size 0x003A800000
	// RAM Entry 1 : Base 0x00C0000000  Size 0x0001800000
	// RAM Entry 2 : Base 0x00C3400000  Size 0x003CC00000
	// RAM Entry 3 : Base 0x0100000000  Size 0x0100000000
};

&mdss {
	bootph-all;
};

&mdss_dp {
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-parents;
	bootph-all;
};

&dispcc {
	bootph-all;
};

&apps_smmu {
	bootph-all;
};

&{/reserved-memory} {
	bootph-all;
};

&smem_mem {
	bootph-all;
};

&adsp_mem {
	bootph-all;
};

&{/smem} {
	memory-region = <&smem_mem>;
	bootph-all;
};

&aop_cmd_db_mem {
	bootph-all;
};

&apps_rsc {
	bootph-all;

	regulators-0 {
		bootph-all;
	};

	regulators-1 {
		bootph-all;
	};
};

&rpmhpd {
	bootph-all;
};

&rpmhcc {
	bootph-all;
};

&remoteproc_adsp {
	status = "okay";
	bootph-all;

	glink-edge {
		bootph-all;
	};
};

/* Linux QCM6490 addon SMP2P entries needed before ADSP release. */
&{/smp2p-adsp} {
	smp2p_rdbg2_out: smp2p-rdbg2-out {
		qcom,entry-name = "rdbg";
		#qcom,smem-state-cells = <1>;
	};

	smp2p_rdbg2_in: smp2p-rdbg2-in {
		qcom,entry-name = "rdbg";
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	sleepstate_smp2p_in: qcom,sleepstate-in {
		qcom,entry-name = "sleepstate_see";
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	sleepstate_smp2p_out: sleepstate-out {
		qcom,entry-name = "sleepstate";
		#qcom,smem-state-cells = <1>;
	};
};

&tlmm {
	bootph-all;
};

/* Keep USB-C/DP related nodes available to U-Boot. Do not change Linux semantics. */
&usb_1 {
	bootph-all;
};


&usb_1_hsphy {
	bootph-all;
};

&usb_1_qmpphy {
	bootph-all;
};

&usb_1_qmpphy_out {
	bootph-all;
};

&usb_1_qmpphy_dp_in {
	bootph-all;
};

&{/usb1-sbu-mux} {
	bootph-all;
};
