// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024 Linaro Ltd.
 */

/delete-node/ &xbl_mem;

/ {
	/* When running as the primary bootloader there is no prior
	 * stage to populate the memory layout for us. We *should*
	 * have two nodes here, but ABL does NOT like that.
	 * sooo we're stuck with this.
	 */
	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x3A800000>,
		      <0 0xC0000000 0 0x01800000>,
		      <0 0xC3400000 0 0x3CC00000>,
		      <1 0x00000000 1 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* XBL (eXtensible Boot Loader) region */
		xbl_mem: xbl@80700000 {
			reg = <0 0x80700000 0 0x100000>;
			no-map;
		};
	};

	// RAM Entry 0 : Base 0x0080000000  Size 0x003A800000
	// RAM Entry 1 : Base 0x00C0000000  Size 0x0001800000
	// RAM Entry 2 : Base 0x00C3400000  Size 0x003CC00000
	// RAM Entry 3 : Base 0x0100000000  Size 0x0100000000
};

&mdss {
	compatible = "qcom,sc7280-mdss", "simple-bus";
	bootph-all;
};

&mdss_dp {
	/delete-property/ assigned-clock-parents;
	bootph-all;
};

&dispcc {
	bootph-all;
};

&{/smem} {
	memory-region = <&smem_mem>;
	bootph-all;
};

&smem_mem {
	bootph-all;
};

&usb_1_qmpphy {
	bootph-all;
};

&tlmm {
	bootph-all;
};

&{/usb1-sbu-mux} {
	bootph-all;
};

/* Enable USB-C Display (DP Alt Mode) */
&usb_1 {
	dr_mode = "host";
	/* Enable DisplayPort Alternate Mode for USB-C video out */
	snps,dis_u2_entry_quirk;
	snps,dis_u1_entry_quirk;
	maximum-speed = "super-speed";
	status = "okay";
};
